{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- JQUERY -->
    <script src="https://kit.fontawesome.com/1c866e61ca.js" crossorigin="anonymous"></script>
    {% block head %} {% endblock %}
</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'index' %}">MusicPRO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'index' %}">Inicio</a>
                        <a class="nav-item nav-link" href="{% url 'nosotros' %}">Sobre Nosotros</a>
                        <a class="nav-item nav-link" href="{% url 'seguimiento_compra' %}">Seguimiento</a>

                        {% if user.is_staff %}
                        <a class="nav-item nav-link" href="{% url 'lista_productos' %}">Administrar Productos</a>
                        <a class="nav-item nav-link" href="{% url 'informe_ventas' %}">Reporte ventas mensuales</a>

                        {% endif %}
                        
                        {% if user.bodeguero %}
                        <a class="nav-item nav-link" href="{% url 'registro_despacho' %}">Registro de despacho</a>
                        {% endif %}

                        {% if user.contador %}
                        <a class="nav-item nav-link" href="{% url 'registro_entrega' %}">Registro de entrega</a>
                        {% endif %}

                        {% if user.vendedor %}
                        <a class="nav-item nav-link" href="{% url 'registro_producto' %}">Registro de producto</a>
                        {% endif %}

                        
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        {% if not user.is_staff %}
                        <a class="nav-item nav-link" href="{% url 'carrito' %}">
                            <i class="fa-solid fa-cart-shopping"></i>Carrito
                        </a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url 'perfil' %}">Perfil</a>

                        <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'carrito' %}">
                            <i class="fa-solid fa-cart-shopping"></i>Carrito
                        </a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                        <a class="nav-item nav-link" href="{% url 'registro' %}">Registrarse</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </nav>
    </header>




    {% block content %} {% endblock %}
    <!-- Aqui hacer footer -->
    <div class="conteiner_footer" style="margin-top: 15%;">
        <footer class="footer">
            <div class="footer_text">
                <h1>Un poco de nosotros</h1>
                <p>En MUSIC PRO, somos una reconocida distribuidora de instrumentos y accesorios musicales en Chile, con
                    una
                    sólida trayectoria en el mercado desde 1988. Nos enorgullece ser parte de la industria que impulsa
                    la pasión
                    por la música y brinda a nuestros clientes una amplia variedad de opciones para expresarse a través
                    de ella.</p>
                <p>
                    En nuestras sedes ubicadas estratégicamente en la región metropolitana de Santiago, incluyendo
                    Providencia,
                    Maipú, Santiago y Vitacura, nos esforzamos por ofrecer un extenso catálogo de productos de alta
                    calidad.
                    Desde guitarras acústicas y eléctricas de renombradas marcas como Ibáñez, ESP, Gibson y Jackson,
                    hasta bajos
                    activos y pasivos, sets de batería, amplificadores, accesorios y mucho más, en MUSIC PRO encontrarás
                    todo
                    lo que necesitas para potenciar tu creatividad musical.
                </p>
            </div>
            <div class="footer_images">
                <h1>Contactanos</h1>
                <img src="{% static 'img/facebook.png' %}" alt="Facebook" class="image_1">
                <img src="{% static 'img/instagram.png' %}" alt="Instagram" class="image_1">
                <img src="{% static 'img/whatsapp.png' %}" alt="Whatsapp" class="image_1">
            </div>
            <div class="copyright">
                © 2023 MusicPRO Soc. Ltd
            </div>
        </footer>
    </div>
    <!-- Termina aqui -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}

    {% block js %} {% endblock %}

</body>

</html>

<style>
    body {
        background-color: #f1f1f1 ;
        margin-top: 5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #444444;
    }

    ul {
        margin: 0;
    }

    .bg-steel {
        background-color: #5f788a;
    }

    .btn-steel {
        background-color: #5f788a;
    }

    .site-header .navbar-nav .nav-link {
        color: #cbd5db;
    }

    .site-header .navbar-nav .nav-link:hover {
        color: #ffffff;
    }

    .site-header .navbar-nav .nav-link.active {
        font-weight: 500;
    }
</style>