{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <title>Quiénes somos - MUSIC PRO</title>
</head>

<div class="contenedor_perfil">
    <h2>Perfil</h2>
    <div class="foto_perfil">
        <div class="contenido_imagen">
            <img class="image_perfil" src="{{ user.perfil.imagen.url }}">
        </div>
    </div>
    <div class="cuerpo_perfil">
        <h2>Nombre: {{ first_name }} {{last_name}} </h2>
        <div class="parrafo_1">
            <p>Usuario: {{ user.username }}</p>
            <p>Email: {{user.email}} </p>
        </div>
    </div>

    <form action="" method="POST" enctype="multipart/form-data" class="form_style">
        {% csrf_token %}
        <legend class="field_style">Cambiar Imagen de Perfil</legend>
        <div class="form_image">
            {{ p_form.imagen }}
        </div>
        <div class="boton_form">
            <button class="btn btn-outline-info" type="submit">Actualizar Cambios</button>
        </div>
</div>
</form>
</div>
{% endblock %}