{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    {% if error %}
        Swal.fire({
            icon: 'error',
            title: 'Ha ocurrido un error',
            text: '{{ error }}'
        });
    {% endif %}
</script>

<div class="container">
    <h1  style="margin-top: 265px;">Seguimiento de compra</h1>
    <form method="GET" action="{% url 'seguimiento_compra' %}">
        <div class="form-group">
            <input type="text" class="form-control" name="codigo_boleta" placeholder="Ingrese el codigo de la boleta" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    {% if boleta %}
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h2 class="card-title">Detalles de la compra</h2>
                        <h3 class="card-subtitle mb-2 text-muted">ID Boleta {{ boleta.codigo_boleta }}</h3>
                        <p class="card-text">Cantidad de productos adquiridos: {{ boleta.cantidad_productos }}</p>
                        <p class="card-text">Total: {{ boleta.total }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h2 class="card-title">Estado</h2>
                        {% if boleta.estado %}
                            <p class="card-text badge badge-success">{{boleta.estado}}</p>
                            <img src="{% static 'img/endelivery.png' %}" class="img-fluid" alt="Orden Lista" style="max-height: 200px;">
                        {% else %}
                            <p class="card-text badge badge-primary">En proceso</p>
                            <img src="{% static 'img/enproceso.jpg' %}" class="img-fluid" alt="Orden Lista" style="max-height: 200px;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title">Productos comprados:</h3>
                <ul class="list-group">
                    {% for compra in compras %}
                        <li class="list-group-item">
                            <strong>Nombre del producto:</strong> {{ compra.nombre_producto }}<br>
                            <strong>Cantidad:</strong> {{ compra.cantidad }}<br>
                            <strong>Total:</strong> {{ compra.total }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}